<% if current_user %>
  <h4><%= current_user.email %>'s shopping cart</h4>

  <% if buyers_shopping_cart %>
    <% buyers_shopping_cart.products.each do |product| %>
      <strong><%= product.name %></strong><br />
      <%= product.price %><br />
      <%= product.description %><br />
      Quantity: <%= product.shopping_cart_items.find_by(product_id: product.id).quantity %>
      <%= form_tag product_add_to_cart_path(product) do %>
        <% submit_tag "+" %>
      <% end %>
      <% unless product.shopping_cart_items.find_by(product_id: product.id).quantity == 0 %>
        <%= form_tag product_remove_from_cart_path(product) do %>
          <% submit_tag "-" %>
        <% end %>
      <% end %>
      <br />
    <hr />
    <% end %>
  <% else %>
    Empty. Buy things!
  <% end %>
<% end %>
