<% if current_user %>
  <h4><%= current_user.email %>'s shopping cart</h4>
  <% if buyers_shopping_cart %>
    <div class="cart" data-cartid="<%= buyers_shopping_cart.id %>">
      <a href="#" class="clear_cart btn btn-danger">Clear Shopping Cart</a>
      <hr />
      <% buyers_shopping_cart.products.each do |product| %>
        <% if product.shopping_cart_items.find_by(shopping_cart_id: buyers_shopping_cart.id).quantity != 0 %>
          <div class="product" data-productid="<%= product.id %>">
            <strong><%= product.name %></strong><br />
            <%= product.price %><br />
            <%= product.description %><br />
            Quantity: <span class="quantity"><%= product.shopping_cart_items.find_by(shopping_cart_id: buyers_shopping_cart.id).quantity %></span>
            <br />

              <a href="#" class="increment btn btn-default">+</a>



              <a href="#" class="decrement btn btn-default">-</a>

            <br />
            <hr />
          </div>
        <% end %>
      <% end %>
    <% else %>
      Empty. Buy things!
    <% end %>
  </div>
<% end %>
