<div class="container">
  <div class="row center-items">
    <div class="col-lg-6">
      <h1>Zebra Seller</h1>
    </div>
    <div class="col-lg-6">
      <% if current_user && current_user.seller == false %>
        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-window">Are you a zebra seller?</button>
        <%= render '/users/toggle_zebra_seller' %>
      <% else %>
        <button class="btn btn-danger" data-toggle="modal" data-target="#modal-window">Stop selling zebras?</button>
        <%= render '/users/toggle_zebra_seller' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <i>Click on a product below to buy it!</i>
      <hr />

      <% @products.each do |product| %>
        <% unless product.seller == current_user %>
          <%= link_to product.name, product_path(product) %>
          from <strong><%= product.seller.email %></strong>
          <br />
          $<%= product.price %><hr />
        <% end %>
      <% end %>
    </div>
    <% if current_user && current_user.seller %>
      <div class="col-lg-6">
        <i>Your zebras for sale.</i>
        <hr />
        <% @products.each do |product| %>
          <% if product.seller == current_user %>
            <%= link_to product.name, product_path(product) %>
            from <strong><%= product.seller.email %></strong>
            <br />
            $<%= product.price %><hr />
          <% end %>
        <% end %>
        <h2><%= link_to "Add a zebra", new_product_path, class: "btn btn-primary" %></h2>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/cart' %>
