<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Zebra Seller</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <i>Click on a product below to buy it!</i>
      <hr />

      <% @products.each do |product| %>
        <% unless product.seller == current_user %>
          <%= link_to product.name, product_path(product) %>
          from <strong><%= product.seller.email %></strong>
          <br />
          $<%= product.price %><hr />
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-6">
      <i>Your zebras for sale.</i>
      <hr />
      <% @products.each do |product| %>
        <% if product.seller == current_user %>
          <%= link_to product.name, product_path(product) %>
          from <strong><%= product.seller.email %></strong>
          <br />
          $<%= product.price %><hr />
        <% end %>
      <% end %>
      <h2><%= link_to "Want to sell a different zebra?", new_product_path, class: "btn btn-primary" %></h2>
    </div>
  </div>
</div>
<%= render 'shared/cart' %>
