<h2><%= @product.name %></h2>

<%= @product.description %><br />
<%= @product.price %><br />
<%= form_tag product_add_to_cart_path(@product) do %>
  <% submit_tag "Add to Cart" %>
<% end %>

<%= render 'shared/cart' %>
